h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

p,
html,
body {
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 55px;
}

.landing-container {
  background-image: url(https://cdn.shopify.com/s/files/1/2113/2635/files/BG-blue_2048x.gif?v=1504756430);
  height: 100vh;
}

.oatly-logo {
  max-width: 80vw;
  max-height: 10vh;
  margin-top: 1em;
  margin-bottom: 3em;
}

.heavier {
  font-weight: bold;
}

.oatly-logo-small {
  max-width: 20vw;
  max-height: 8vh;
}

.vert-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.middle-text {
  text-align: center;
}

.heavier {
  font-weight: bold;
}

.oatJug {
  max-height: 50%;
  max-width: 50%;
}

.center-everything-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.center-everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
